<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xml:lang="en">
<xi:include href="../site.html" />
<head>
    <title>Error</title>
</head>
<body>
<h2>An error has occurred</h2>
<div py:if="c.error" class="warning"><span class="message">${c.error}</span></div>
<div id="footer"><a href="${h.url(action='')}">Validate another document</a>. Visit the Web site of <a href="http://creativecommons.org/">Creative Commons</a>. Read <a href="${h.url(action='about')}">about this software</a>.</div>

</body>
</html>
