<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xml:lang="en">
<xi:include href="../site.html" />
<head>
    <title>Validator</title>
    <style type="text/css">
   	form
   	{
   		margin-bottom: 1ex;
   	}
   	input, textarea
   	{
   		border: #000 1px solid;
   		margin-bottom: 2px;
   		font-family: monospace;
   		font-size: 100%;
   		width: 40em;
   	}
    label, input.button
    {
    	width: auto;
    	font-family: sans-serif;
    }
    input.button
    {
    	font-size: 80%;
    }
    </style>
</head>
<body>

<h2>Validate a document</h2>

${h.start_form(h.url(action='parseDirectInput'), method='post')}
<div>
<label for="input_direct">Validate by direct input:</label><br />
${h.text_area('input_direct', size="80x10")}<br />
${h.submit(class_='button',value='Submit the code to analysis')}
</div>
${h.end_form()}

${h.start_form(h.url(action='parseOnlineDocument'), method='get')}
<div>
<label for="uri">Validate an online document:</label><br />
${h.text_field('uri')}<br />
${h.submit(class_='button',value='Submit the remote file to analysis')}
</div>
${h.end_form()}

${h.start_form(h.url(action='parseUploadedFile'), multipart=True, method='post')}
<div>
<label for="input_upload">Validate by file upload:</label><br />
${h.file_field('input_upload')}<br />
${h.submit(class_='button',value='Submit the file to analysis')}
</div>
${h.end_form()}

<h2>Samples</h2>

<p>
You can see how
<a href="http://validator.creativecommons.org/validation/parseOnlineDocument?uri=http://validator.creativecommons.org/samples/rdfa.html">
an example RDFa document validates</a>,
and how we validate
<a href="http://validator.creativecommons.org/validation/parseOnlineDocument?uri=http://validator.creativecommons.org/samples/rdf-comment-old-namespace.html">
deprecated RDF-in-a-comment metadata
</a>.
</p>

<div id="footer">Visit the Web site of <a href="http://creativecommons.org/">Creative Commons</a>. Read <a href="/validation/about">about this software</a>.</div>
</body>
</html>
